<div class="animated fadeIn">
    <button (click)="router.navigate(['/pages/dashboard'])" class="btn btn-link" style="padding-left: 0;">Torna ai risultati di ricerca</button>
    <h2>La tua offerta</h2>
    <div class="card w-100 mt-3">
        <div class="card-header">
            {{kit.name}}
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-6">
                {{kit.description}}
            </div>      
            <div class="col-6" style="display: flex; align-items: center; justify-content: center;">
                <div>
                    <p style="margin-bottom: 0; color: grey;" >Prezzo al giorno</p>
                    <h2 style="font-weight: bold;">{{kit.standardPrice}}€</h2>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card w-100 mt-3" *ngFor="let item of kit.items">
        <div class="card-body">
            <div class="row">
                <div class="col-6" style="padding-left: 10px; padding-right: 10px;">
                    <h5 class="card-title" >{{item.name}}</h5>
                    <ul style="padding-left: 15%;">
                        <li *ngFor="let property of item.properties">{{property.name}}: {{property.value}} {{property.unitOfMeasure ? property.unitOfMeasure : ''}}</li>
                        <!--<li>{{item.category}}</li>-->
                        <li>Stato: {{item.state}}</li>
                    </ul>
                </div>
                <div class="col-6" style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
                    <img style="width: 100%; margin-bottom: 10px;"[src]="item.imgSrc">
                </div>
            </div>
        </div>
      </div>
    <div class="card" *ngIf="tokenService.isTokenSet()">
        <div class="card-body">
            <div *ngIf="!checked" class="animated fadeIn">
                <h3>Verifica disponibilità</h3>
                <label for="date-input" class="pl-0 col-form-label">Data di inizio</label>
                <input [(ngModel)]="startDate" id="date-input" type="date" name="date-input" placeholder="date" class="form-control">
                <label  for="date-input" class="pl-0 col-form-label">Data di fine</label>
                <input [(ngModel)]="endDate" id="date-input" type="date" name="date-input" placeholder="date" class="form-control">
                <button class="btn btn-success btn-block mt-3" (click)="checkAvailability()">Verifica</button>
            </div>
            <div *ngIf="checked" class="animated fadeIn">
                <h3 class="text-success">Buone Notizie!</h3>
                <p>Il tuo oggetto è disponibile per quel periodo.</p>
                <div style="display: flex; justify-content:space-between;">
                <p>Prezzo per {{days}} giorn{{days === 1 ? 'o':'i'}}:</p>
                <strong>{{this.finalPrice}}</strong>
                </div>
                <button class="btn btn-success btn-block" (click)="rent()">Prenota</button>
            </div>

        </div>
        
    </div>

    <div class="card card-accent-warning" *ngIf="!tokenService.isTokenSet()">
        <div class="card-header"> Attenzione </div>
        <div class="card-body">
                Per visualizzare le date disponibili per il noleggio devi essere loggato.
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-block" id="login" name="login" (click)="goLogin()">Effettua il login</button>
        </div>
    </div>
    
</div>