<div class="animated fadeIn">
    <button (click)="router.navigate(['/pages/rentals','rentals-list'])" class="btn btn-link" style="padding-left: 0;">Torna alle tue prenotazioni</button>
    <div class="row">
        <div class="col-9">
            <h2>La tua prenotazione</h2>
        </div>
        <div class="col-3" style="display: flex; align-items: center;justify-content: center;">
            <span *ngIf="rental.state == 'terminata'" class="badge badge-danger">Concluso</span>
            <span *ngIf="rental.state == 'futura'" class="badge badge-success">Prenotata</span>
            <span *ngIf="rental.state == 'in corso'" class="badge badge-warning">In corso</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Data di inizio prenotazione
                </div>
                <div class="card-body">
                    {{rental.startDate}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Data di fine prenotazione
                </div>
                <div class="card-body">
                    {{rental.endDate}}
                </div>
            </div>
        </div>
    </div>
    
    <div class="card w-100 mt-3" *ngFor="let item of rental.items">
        <div class="card-body">
            <div class="row">
                <div class="col-6" style="padding-left: 10px; padding-right: 10px;">
                    <h5 class="card-title" >{{item.name}}</h5>
                    <ul style="padding-left: 15%;">
                        <li *ngFor="let property of item.propertiesList">{{property.name}}: {{property.value}} {{property.unitOfMeasure ? property.unitOfMeasure : ''}}</li>
                        <!--<li>{{item.category}}</li>-->
                        <li>Stato: {{item.state}}</li>
                    </ul>
                </div>
                <div class="col-6" style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
                    <img style="width: 100%;"[src]="item.imgSrc">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div *ngIf="item.reviews.length != 0">
                <h3>Le tue recensioni</h3>
                <div class="card"  *ngFor="let review of item.reviews">
                    <div class="card-body">
                        <p style="display: flex; align-items:center; justify-content: start;">{{review.stars}}<i class="cil-star"></i></p>
                        <p *ngIf="review.comment">{{review.comment}}</p>
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-danger btn-block" (click)="deleteReview(review, item.reviews)">Elimina</button>

                            </div>
                        </div>
                    </div> 
                </div>
                   
            </div>
            <button class="btn btn-block btn-primary " *ngIf="rental.state == 'terminata'" (click)="openReviewModal(item)">Lascia una recensione</button>
        </div>
      </div>
    
      <div class="card">
          <div class="card-header">
              Prezzo 
          </div>
          <div class="card-body" style="display: flex;align-items: center;justify-content: center;">
              <h3>{{rental.finalPrice ? rental.finalPrice : 'Non disponibile'}}€</h3>
          </div>
      </div>

    
</div>

<div bsModal #reviewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lascia una recensione</h4>
          <button type="button" class="close" (click)="reviewModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="up" style="display: flex; align-items: center; justify-content: center;">
                <h3>{{review}}<i class="cil-star"></i></h3>
            </div>
            <div class="down"style="display: flex; align-items: center; justify-content: center; width: 100%;">
                <input type="range" [(ngModel)]="review" class="form-range" min="1" max="5" id="customRange">
            </div>
            <div class="form-floating mt-3">
                <textarea [(ngModel)]="reviewText" class="form-control" placeholder="Inserisci recensione" id="review"></textarea>
              </div>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="reviewModal.hide()">Chiudi</button>
          <button type="button" class="btn btn-primary" (click)="sendReview()">Pubblica</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->