<div class="row mt-3">
    <div class="col-sm-12">
      <div class="form-group">
        <input type="search" class="form-control" id="name" placeholder="Cerca cosa vuoi noleggiare" [(ngModel)]="searchtext">
      </div>
    </div>
</div>

<div style="overflow: scroll; display: flex; flex-direction: row;">
    <button (click)="loadAllItems()" type="button" class="btn" style="padding: 2% 5%; margin-right: 2%;" [ngClass]="{'btn-primary': allItems, 'btn-light': !allItems}">Tutte</button>
    <button (click)="loadKits()" type="button" class="btn" style="padding: 2% 5%; margin-right: 2%;" [ngClass]="{'btn-primary': !areItems, 'btn-light': areItems}">Pacchetti</button>
    <button (click)="this.selectCategory(category, i)" *ngFor="let category of this.categories, let i = index" type="button" [ngClass]="{'btn-primary': selectedCategory === i, 'btn-light': selectedCategory !== i}" class="btn" style="padding: 2% 5%; margin-right: 2%;">{{category.name}}</button>
</div>
<div *ngIf="areItems">
<div class="card w-100 mt-3 animated fadeIn" *ngFor="let item of items | filter: searchtext" tabindex="0" [aria-label]="item">
    <div class="card-body">
        <div class="row">
            <div class="col-6" style="padding-left: 10px; padding-right: 10px;">
                <h5 class="card-title" >{{item.name}}</h5>
                <ul style="padding-left: 15%;">
                    <li *ngFor="let property of item.propertiesList">{{property.name}}{{property.value ? ': '+property.value : ''}} {{property.unitOfMeasure ? property.unitOfMeasure : ''}}</li>
                    <!--<li>{{item.category}}</li>-->
                    <li>Stato: {{item.state}}</li>
                </ul>
            </div>
            <div class="col-6" style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
                <img style="width: 100%; margin-bottom: 10px"[src]="item.imgSrc" alt="foto oggetto">
                <div>
                    <p style="margin-bottom: 0; color: grey;" >Prezzo al giorno</p>
                    <h2 style="font-weight: bold;">{{item.standardPrice}}€</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success btn-block" (click)="openItemSpec(item)">Vedi l'offerta</button>
    </div>
  </div>
</div>

<div *ngIf="!areItems">
  <div class="card w-100 mt-3 animated fadeIn" *ngFor="let kit of kits" tabindex="0" [aria-label]="kit">
    <div class="card-body">
        <div class="row">
            <div class="col-6" style="padding-left: 10px; padding-right: 10px;">
                <h5 class="card-title" >{{kit.name}}</h5>
                <ul style="padding-left: 15%;">
                    {{kit.description}}
                </ul>
            </div>
            <div class="col-6" style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
                <div class="images">
                    <div>
                        <img *ngFor="let item of kit.items" style="width: 50%; margin-bottom: 10px; padding: 1%;"[src]="item.imgSrc" alt="foto oggetti">
                    </div>
                </div>                
                <div>
                    <p style="margin-bottom: 0; color: grey;" >Prezzo al giorno</p>
                    <h2 style="font-weight: bold;">{{kit.standardPrice}}€</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success btn-block" (click)="openKitSpec(kit)">Vedi l'offerta</button>
    </div>
  </div>
</div>