<div class="row mt-3">
    <div class="col-sm-12">
      <div class="form-group">
        <input type="search" class="form-control" id="name" placeholder="Cerca cosa vuoi noleggiare">
      </div>
    </div>
</div>

<div style="overflow: scroll; display: flex; flex-direction: row;">
    <button (click)="this.selectCategory(category, i)" *ngFor="let category of this.categories, let i = index" type="button" [ngClass]="{'btn-primary': selectedCategory === i, 'btn-light': selectedCategory !== i}" class="btn" style="padding: 2% 5%; margin-right: 2%;">{{category.name}}</button>
</div>

<div class="card w-100 mt-3 animated fadeIn" *ngFor="let item of items">
    <div class="card-body">
        <div class="row">
            <div class="col-6" style="padding-left: 10px; padding-right: 10px;">
                <h5 class="card-title" >{{item.name}}</h5>
                <ul style="padding-left: 15%;">
                    <!--<li *ngFor="let property of item.properties">{{property}}</li>-->
                    <li>{{item.category}}</li>
                    <li>Stato: {{item.state}}</li>
                </ul>
            </div>
            <div class="col-6" style="display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
                <img style="width: 100%;"[src]="item.imgSrc">
                <div>
                    <p style="margin-bottom: 0; color: grey;" >Prezzo al giorno</p>
                    <h2 style="font-weight: bold;">{{item.standardPrice}}€</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success btn-block" (click)="openItemSpec(item)">Vedi l'offerta</button>
    </div>
  </div>