@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrappers .sideBar{
    background: #007BFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrappers .sideBar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #007BFF;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrappers .sideBar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrappers .sideBar ul li a:hover,
.wrappers .sideBar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 1px solid #007BFF;
}

.wrappers .sideBar ul li a:hover .icon,
.wrappers .sideBar ul li a.active .icon{
    color: #0c7db1;
}

.wrappers .sideBar ul li a:hover:before,
.wrappers .sideBar ul li a.active:before{
    display: block;
}

.modal-backdrop.in {
    z-index:-1;
  }